<ion-content class="ion-text-center">

  <ion-title>
      
        <img src="assets/img/logo_duoc.png" style="height: 80px;">
    
        <h1>Sistema de Asistencia DuocUC</h1>

    </ion-title>

    <ion-card class="ion-padding-vertical">

      <ion-card-title>
        <h1>Recuperar contraseña</h1>
      </ion-card-title>

      <ion-grid class="ion-padding-top">
        <h2>
          Lo sentimos, los datos ingresados son incorrectos.
        </h2>
        <ion-row>
          <ion-col>
            <img src="assets/img/wrong-mark.png" style="height: 145px;"  >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <br>
    <ion-button (click)="ToLogIn()" shape="round">
      Iniciar Sesión
      <ion-icon  name="chevron-forward-outline"></ion-icon>
    </ion-button>

</ion-content>