<!-- Comienza el Header -->
<ion-header>
  <ion-toolbar >
    <ion-title >
      
        <img src="assets/img/logo_duoc.png" style="height: 80px;" class="ion-text-center">
    
        <h1 #titulo>Sistema de Asistencia DuocUC</h1>
 
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- Termina el Header -->

<!-- Comienza el Content -->
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-title class="ion-padding-top">
    <ion-label class="ion-text-center">
      <h1 #color>¡Bienvenid@!</h1>
      <h2 *ngIf="usuario" #color>{{ usuario.nombre  }} {{ usuario.apellido }}</h2>
      <p>Escanea el codigo QR para registrar tu asistencia a clases</p>

      
    </ion-label>
  </ion-title>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <img src="assets/img/QR_code_for_mobile_English_Wikipedia.svg.png" style="height: 450px;" >
      </ion-col>
    </ion-row>
    <a routerLink="" click="logOff()"><h5><br><br>Cerrar Sesión</h5></a>
    
  </ion-grid>
  

</ion-content>
<!-- Termina el content -->